---
export const props ={
    title:"Nicole Rodriguez",
    subtitle:"Full-Stack Web Engineer",
    description: "I turn ideas into functional, pixel-perfect digital experiences with a complete front-to-back development approach.",

};
---

<header class="header ">
    <div class="flex flex-col gap-y-4">
        <div>
            <h1 class="text-slate-200 text-5xl py-5 font-bold sm:text-5xl tracking-tight">
                {props.title}
            </h1>
            <h3 class="text-slate-200 text-xl">{props.subtitle}</h3>
        </div>
        <p class="text-slate-400">{props.description}</p>
    </div>
</header>