---
export const props ={
    title:"Nicole Rodriguez",
    subtitle:"Full-Stack Web Engineer",
    description: "I turn ideas into functional, pixel-perfect digital experiences with a complete front-to-back development approach.",

};
---

<header class="header">
    <h1>{props.title}</h1>
    <h3>Full-Stack Web Engineer</h3>
    <p>{props.description}</p>
</header>